<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.day03_mybatis.test4.OrderMapper">
	<!-- 根据id查询对应order记录, 返回order对象-->
	<select id="getOrder" parameterType="int" resultType="_Order">
		select order_id id, order_no orderNo, order_price price from orders where order_id=#{id}
	</select>
	
	
	<select id="getOrder2" parameterType="int" resultMap="OrderResultMap">
		select * from orders where order_id=#{id}
	</select>
	<resultMap type="_Order" id="OrderResultMap">
		<id property="id" column="order_id"/>
		<result property="orderNo" column="order_no"/>
		<result property="price" column="order_price"/>
	</resultMap>
</mapper>