<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.day03_mybatis.test2.UserMapper">
	<!-- CRUD操作-->
	<cache></cache>
	<insert id="addUser" parameterType="_User" useGeneratedKeys="true" keyProperty="id">
		insert into users(name,age) values(#{name},#{age})
	</insert>
	
	<update id="updateUser" parameterType="_User">
		update users set name=#{name}, age=#{age} where id=#{id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete from users where id=#{id}
	</delete>
	
	<select id="getUser" parameterType="int" resultType="_User">
		select * from users where id=#{id}
	</select>
	
	<select id="getAllUsers" resultType="_User">
		select * from users
	</select>
	
	<select id="getUsersByName" parameterType="String" resultType="_User">
		select * from users where name like #{name}
	</select>
</mapper>